<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie Recommendations</title>
</head>

<body>
    <h1>Movie Recommendations</h1>

    <form method="POST">
        <label for="user_title_input">Enter the title of the movie you watched:</label>
        <input type="text" name="user_title_input" required>
        <button type="submit">Get Recommendations</button>
    </form>

    {% if recommendations %}
        <h3>Recommendations:</h3>
        <table border="1">
            <thead>
                <tr>
                    <th>Recommended Movie</th>
                    <th>Genre</th>
                    <th>Relevance Score</th>
                </tr>
            </thead>
            <tbody>
                {% for recommendation in recommendations %}
                    <tr>
                        <td>{{ recommendation[0] }}</td>
                        <td>{{ recommendation[1] }}</td>
                        <td>{{ recommendation[2] }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
</body>

</html>

